<h2>Create deck from URL</h2>
<% form_tag :action => :create do %>
DeckCheck URL <%= text_field_tag :url, nil %>
<%= submit_tag 'Create from URL' %>
<% end -%>

<br/>

<h2>Create deck from card list</h2>
<p><em>one line for each cards</em></p>

<% form_tag :action => :create  do  -%>
<%= text_area_tag "cards", nil, :cols => 60, :rows => 20 %>
<br/>
<%= submit_tag 'Create from cards list' %>
<% end -%>

